# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Unit test CI

on:
  pull_request:
    branches: ['main', 'develop', 'dev/**']

jobs:
  build:
    runs-on:
      - macos-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: './common/config/rush/pnpm-lock.yaml'

      # # 查看字体
      # - name: View Fonts
      #   run: |
      #     fc-list

      # Install rush
      - name: Install native deps for node-canvas (macOS)
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install pkg-config cairo pango libpng jpeg giflib librsvg
      - name: Install native deps for node-canvas (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config libcairo2-dev libpango1.0-dev libpng-dev libjpeg-dev libgif-dev librsvg2-dev
      - name: Update rush
        run: node common/scripts/install-run-rush.js update --bypass-policy
      - name: Install rush
        run: node common/scripts/install-run-rush.js install --bypass-policy
      - run: node common/scripts/install-run-rush.js build --only tag:package
      - name: Pre unit test
        run: cd packages/vrender && node ../../common/scripts/install-run-rushx.js test && cd ../..
      - run: node common/scripts/install-run-rush.js test --only tag:package
